---
import Container from "../components/Container.astro";
import Team from "../components/Team.astro";
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to My site">
	<main class="space-y-20">
		<Container>
            <div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
                <div class="row items-center py-5 md:pb-20 md:pt-10">
                    <div class="text-center space-y-10">
                        <h2 class="text-5xl font-medium leading-none md:text-6xl">Innovating the Future <br> Through Advanced <br> Software Solutions</h2>
                        <p class="mt-6 mb-8  text-xl font-normal leading-7 sm:mb-12">INTESA empowers businesses with cutting-edge software, from custom development to geospatial systems and data science solutions, driving digital transformation and growth.</p>
                        <a class="px-9 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex" rel="noopener noreferrer"  href="https://github.com/manulthanura/Positivus" target="_blank">
                            <h2 class="text-center text-xl font-normal leading-7">Explore Our Solutions</h2>
                        </a>
                    </div>

                </div>
            </div>
            
            <div class="flex-row items-center">
                <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-6">
                    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                        <img src="./clients/poj.jpg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                    </div>
                    <div class="p-4 grayscale transition duration-200 hover:grayscale-0 flex items-center gap-2">
                        <img src="./clients/kemepora.png" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                        <div>
                            <span class="text-xs uppercase leading-tight">Kementerian Pemuda dan Olahraga</span>
                        </div>
                    </div>
                    <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0 items-center gap-2">
                        <img src="./clients/bksda.png" class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                        <div>
                            <span class="text-xs uppercase leading-tight">Balai Konservasi Sumber Daya Alam</span>
                        </div>
                    </div>
                    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                        <img src="./clients/gmi.png" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                    </div>
                    <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                        <img src="./clients/wika_ikon.png" class="h-8 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                    </div>
                    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                        <img src="./clients/06.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                    </div>
                </div>
            </div>
        </Container>
        <Team/>
	</main>
</Layout>