---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row" id="projects">
    <Topic title="Case Studies" description="Discover how our innovative software solutions have transformed businesses and driven tangible results through our in-depth case studies" />
</div>

<div class="w-full p-12 bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex text-white">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0">
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">For a large corporate client, we implemented an advanced Attendance System with Face Recognition, resulting in a 95% reduction in manual check-ins and a 30% increase in overall attendance accuracy.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                <div class="text-lime text-xl font-normal leading-7">Learn more</div>
                <img src="/services/agc.svg" alt="arrow">
            </div>
        </div>
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">For a municipal administration, we developed a comprehensive Geospatial Information System that streamlined urban planning processes, resulting in a 40% reduction in decision-making time and a 60% improvement in resource allocation efficiency.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                <div class="text-lime text-xl font-normal leading-7">Learn more</div>
                <img src="/services/agc.svg" alt="arrow">
            </div>
        </div>
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">For a leading mining corporation, we designed and developed a dynamic company profile website that showcased their operations, sustainability initiatives, and investor relations. The new site increased user engagement by 50% and led to a 25% rise in investor inquiries.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                <div class="text-lime text-xl font-normal leading-7">Learn more</div>
                <img src="/services/agc.svg" alt="arrow">
            </div>
        </div>
    </div>
    
    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div>
    <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    
</div>

</Container>