---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <Topic title="Testimonials" description="Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Digital Marketing Services" />
</div>

<div class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]">
    <div class="justify-items-center relative w-full border border-lime rounded-3xl">
        <div class="p-4 md:p-10">
            <p class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4">"INTESA's Attendance System with Face Recognition has revolutionized our workplace efficiency. The seamless integration and user-friendly interface have significantly reduced time spent on manual check-ins. Our HR team now has access to real-time, accurate attendance data, improving overall workforce management. The system's reliability and INTESA's responsive support have made this implementation a resounding success. We highly recommend INTESA for any company looking to modernize their attendance tracking."</p>
            <span class="text-lime text-base md:text-xl font-medium">Andri<br/></span><span class="text-white text-lg font-normal">Chief Technologist at POJ</span>
        </div>
    </div>
</div>

</Container>